[submodule "zsh-autosuggestions"]
	path = .oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "cutefetch"]
	path = .oh-my-zsh/bin/cutefetch
	url = https://github.com/cybardev/cutefetch
[submodule "tmux-TPM"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/swww/wallpapers"]
	path = .config/swww/wallpapers
	url = https://github.com/kalitsune/wallpapers
